/* MASTER CSS FILE */
body{
  background-color: #cff9ea;
  /* box-sizing: border-box; */
}
h1{
  padding: 4em 3em 1em 2.2em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 45px;
  line-height: 1;
  color: #333;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: magenta;
    background-color: transparent;
    text-decoration: none;
  }

p {
  padding: 0em 5em 0em 5em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #333;
}
